* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    color: #282b24;
}

/* Cabeçalho */

header {
    background-color: #e7ece5;
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid #bac6b6;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

/* Botões */

section {
    background-image: url(https://e7.pngegg.com/pngimages/895/427/png-transparent-hand-drawn-leaf-pattern-seamless.png);
    min-height: 100vh;
    padding-top: 150px;
    padding-left: 50px;
    padding-bottom: 80px;
    padding-right: 50px;
}

.btn {
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #e3ece0;
    border: 5px solid #58703b;
    border-radius: 15px;
}

.btn img {
    height: 50px;
    width: 50px;
    float: left;
}

.btn h3 {
    width: 70%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30%;
    float: right;
}

.btn:hover {
    border: 5px solid #f54b18;
}

#img-2 {
    padding-top: 5px;
    padding-bottom: 5px;
}